alabaster
breathe
dataset
docutils
flake8
imagesize
Jinja2
jsonpointer
MarkupSafe
mock
myst-parser
pytest
pytest-cov
pytest-snapshot
Pygments
pytz
roman-numerals-py
setuptools
snowballstemmer
sphinx_rtd_theme
sphinx
sphinx-sitemap
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-httpdomain
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
tox
wheel
tzdata
